{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'litrevu/styles.css' %}" />
    </head>
    <body>
        <div class="container">
            <header class="site-header">
                <div class="header-container">
                    <span>LITReview</span>
                    {% if request.resolver_match.url_name != 'index' %}
                    <nav class="site-nav">
                        <a href="{% url 'flux' %}">Flux</a>
                        <a href="{% url 'posts' %}">Posts</a>
                        <a href="{% url 'subscriptions' %}">Abonnements</a>
                        <a href="{% url 'logout' %}">Se déconnecter</a>
                    </nav>
                    {% endif %}
                </div>
            </header>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>